 a {



    display:inline-block;
    justify-content: space-around;
  
 }
.raj{
    
    text-align: right;
    text-align: center;
    display: flex;
    justify-content: space-around;

}
ul{

    display: flex;
    justify-content: left;

}
.ss{
   
}
li{
    text-align: center;

}
.container-fluid{

    margin-top: auto;
}